.ImageStory,
.detail-container {
  padding: 5% 20%;
}

.image-title1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'NanumSquareNeoExtraBold';
}

.exmaple-text {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 2px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  color: #33333374;
  font-family: 'NanumSquareNeoBold';
}

.image-example {
  display: flex;
  justify-content: space-around;
}

.image-example img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}

.image-example img:hover {
  cursor: pointer;
  scale: 1.02;
}

.input-btn {
  margin-top: 25px;
}

.file-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-input {
  display: none; /* 파일 입력 요소를 숨깁니다 */
}

.custom-file-upload {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  background-color: #5592f7;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-family: 'NanumSquareNeoBold';
}

.custom-file-upload:hover {
  background-color: #407bbf; /* 호버 시 배경색 변경 */
}

/* 이미지 프리뷰 */
.image-preview-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: 'NanumSquareNeoExtraBold';
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 20%;
}
.image-preview-container img {
  width: 55%;
  height: 480px;
  border-radius: 20px;
  display: block;
}
.preview-btn {
  margin-top: 20px;
  display: flex;
  width: 55%;
  justify-content: space-between;
}

/*디테일*/
.detail-title {
  font-size: 3rem;
  font-weight: bold;
}
.detail-btn {
  margin-top: 40px;
  text-align: right;
}

/*결과*/
.ResultPage {
  padding: 1% 10%;
}
.image-title {
  margin-top: 5px;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "JNE-Bareun-TTF-Bold";
}
.result-image {
  width: 400px;
  height: 240px;
  border-radius: 20px;
  margin-bottom: 0px;
}
.image-story {
  height: 300px;
  line-height: 1.7;
  overflow-y: scroll;
  font-size: 17px;
  padding-right: 15px;
  font-family: "JNE-Bareun-TTF-Bold";
}

/* 스크롤 바 전체 영역 */
.image-story::-webkit-scrollbar {
  width: 10px; /* 스크롤 바의 너비 */
}

/* 스크롤 바의 트랙 (배경) */
.image-story::-webkit-scrollbar-track {
  background: #afd2ff15; /* 트랙의 배경색 */
  border-radius: 15px; /* 트랙의 모서리 둥글게 */
}

/* 스크롤 바의 핸들 (움직이는 부분) */
.image-story::-webkit-scrollbar-thumb {
  background: #a1b8d733; /* 핸들의 색상 */
  border-radius: 10px; /* 핸들의 모서리 둥글게 */
}

/* 스크롤 바의 핸들에 마우스를 올렸을 때 */
.image-story::-webkit-scrollbar-thumb:hover {
  background: #a1b8d73e; /* 마우스를 올렸을 때 핸들의 색상 */
}

.tag-box {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.like-btn1 {
  position: absolute;
  top: 49%;
  right: 22%;
}

.like-btn2 {
  position: absolute;
  top: 41%;
  right: 22%;
}

.like-btn3 {
  position: absolute;
  top: 33%;
  right: 22%;
}

.home-btn {
  position: absolute;
  right: 21%;
  top: 5.2%;
  opacity: 0.1;
  /* color: #b9d3f4ac; */
  transition: all 0.3s ease-in-out;
}

.home-btn:hover {
  /* color: #5592f7; */
  opacity: 1;
  cursor: pointer;
}
