.DetailsPage {
  padding: 5% 20%;
}

.detail-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: 'NanumSquareNeoExtraBold';
}

.detail-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #33333374;
  margin-bottom: 20px;
  display: block;
  font-family: 'NanumSquareNeoBold';
}

#mainCharacter {
  margin-bottom: 30px;
}

.generate-btn {
  margin-top: 30px;
  text-align: right;
}

/* 버튼 스타일 */
button {
  background-color: #e8f0fe !important; /* 버튼 배경색 */
  color: #1a73e8 !important; /* 버튼 텍스트 색상 */
  /* border: 1px solid #1a73e8;  */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'NanumSquareNeoBold' !important;
  /* box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); 버튼에 약간의 그림자 효과 */
}

button:hover {
  background-color: #d2e3fc !important; /* 마우스를 올렸을 때 색상 */
}

/*반응형 웹*/
@media (max-width: 768px) {
  .DetailsPage{
    padding: 10% 5%;
  }

  .detail-title{
    margin-top: 50px;
    font-size: 2.5rem !important;

  }
}